@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: #f5f5f5;
  margin: 0px;
  padding: 0px;
  padding-top: 20px;
}


.main
{
    margin: 0px 30px;
}

.wrapper{
  max-width: 100%;
  margin: 30px 0px;
}

.wrapper .search-input{
  background: #fff;
  width: 100%;
  border-radius: 4px;
  position: relative;
  box-shadow: 1px 4px 4px -2px rgb(36 50 66 / 0.1);
  border-color: #f1f1f1;
  border-style: solid;
  border-width: 1px;
  transition-duration: .6s;
}

.wrapper .search-input:hover
{
  box-shadow: 4px 20px 20px -9px rgb(36 50 66 / 0.08);
}

.search-input input{
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 0 60px 0 20px;
  font-size: 18px;

}

.search-input.active input{
  border-radius: 4px;
  box-shadow: 4px 20px 20px -9px rgb(36 50 66 / 0.08);
}

.search-input .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 300px;
  overflow-y: auto;
}

.search-input.active .autocom-box{
  margin-top: 4px;
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
  /* border-color: #f1f1f1;
  border-style: solid;
  border-width: 2px; */
  background-color: #fff;
  position: absolute;
  width: inherit;
  border-radius: 4px;
  box-shadow: 4px 20px 20px -9px rgb(36 50 66 / 0.11);
}

.autocom-box li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 4px;
}

.search-input.active .autocom-box li{
  display: block;
}
.autocom-box li:hover{
  background: #efefef;

}

.search-input .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  background-color: #644bff;
  border-radius: 5px;
  border-width: 5;
}


#banner
{
    background-color: #fff;
    background-image: url(/works/finalproject/assets/fifa21.jpg);
    padding: 20vh 20px;
    background-position: top left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    height: 600px;
    border-radius: 10px;
    color: #fff;
}


/* profile part  */

.player_profile
{
    display: flex;
    justify-content: space-evenly;
}

.card_profile
{
    display: flex;
    flex-direction: column;
    box-shadow: 1px 4px 4px -2px rgb(36 50 66 / 0.1);
    background-color: #fff;
    width: 50%;
    margin: 20px;
    padding: 22px;
    border-radius: 4px;
    transition-duration: .6s;
}

.card_profile:hover
{ 
  box-shadow: 4px 20px 20px -9px rgb(36 50 66 / 0.08);
}

.top_profile
{
  display: flex;
  flex: 2;
  flex-direction: row;
  justify-content: space-evenly;
}

.p_pic
{
  flex: 1;
  margin-top: -30px;
}

.p_pic img
{
    background-color: #fff;
    border-style: solid;
    border-color: #f5f5f5;
    border-width: 1px;
    padding: 8px;
    border-radius: 4px;
}

.p_bio
{
  display: flex;
  flex-direction: column;
  flex: 2;
  padding-left: 14px;
}

.p_name h3
{
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  height: 102px;
  width: 280px;
}

.p_age
{
  display: flex;
  flex-direction: row;
  padding-top: 8px;
}

.p_age p
{
  padding-right: 14px;
  font-size: 18px;
}

.p_place
{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.p_nation
{
  display: flex;
  flex-direction: row;
  padding: 8px;
  border-radius: 6px;
  border-style: solid;
  border-color: #efefef;
  border-width: 2px;
  margin-bottom: 10px;
  align-items: center;
}

.n_details
{
  margin-left: 12px;
}

.bottom_profile
{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
}

.p_stats
{
  display: flex;
  flex-direction: column;
}

.p_stats h3
{
  font-size: 24px;
  font-weight: 300;
}

.p_stats p
{
  font-size: 18px;
  font-weight: 500;
  color: #666666;
}

.r_chart
{
  width: 300px;
  height: 300px;
}

.mainCharts
{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.card_stats
{
    display: flex;
    flex-direction: column;
    width: 50%;
    box-shadow: 1px 4px 4px -2px rgb(36 50 66 / 0.1);
    background-color: white;
    padding: 22px;
    border-radius: 4px;
    margin: 20px; 
    transition-duration: 0.6s;
}

.card_stats:hover
{
  box-shadow: 4px 20px 20px -9px rgb(36 50 66 / 0.08);
}

#scale text{
  color: #666666;
}

/* .cirs:hover
{
  fill-opacity: 1;
  border-style: solid;
  border-color: #000;
  border-width: 2px;

} */