@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: #fff;
  margin: 0px;
  padding: 0px;
}

::selection{
  color: #fff;
  background: #000;
}

.main
{
    margin: 0px 30px;
}

.wrapper{
  max-width: 100%;
  margin: 30px 20px;
}

.wrapper .search-input{
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 4px 8px 0px rgb(36 50 66 / 10%);
}

.search-input input{
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 4px 8px 0px rgb(36 50 66 / 10%);
}

.search-input.active input{
  border-radius: 5px 5px 0 0;
}

.search-input .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.search-input.active .autocom-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
  border-color: blueviolet;
  border-style: solid;
  border-width: 2px;
}

.autocom-box li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 4px;
}

.search-input.active .autocom-box li{
  display: block;
}
.autocom-box li:hover{
  background: #efefef;
}

.search-input .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  background-color: #644bff;
  border-radius: 5px;
  border-width: 5;
}


#banner
{
    background-color: #000;
    background-image: url(/works/finalproject/assets/fifa21.jpg);
    padding: 20vh 20px;
    background-position: top left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: #fff;
}


.mainCards
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mainCards article
{
    padding: 40px;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    border-color:#f5f5f5;
    background-color: white;
    margin: 20px;

}

.mainCards article:hover
{
    border-width: 2px;
    border-style: solid;
    border-color:#3A56B2;
    background-color: white;
    box-shadow: 0px 5px 15px 0px rgb(36 50 66 / 20%);
}

.mainCards article h2:hover
{
    color: #3A56B2;
}


/* profile part  */

.player_profile
{
    display: flex;
    justify-content: space-evenly;
}

.card_profile
{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 15px 0px rgb(36 50 66 / 12%);
    width: 50%;
    margin: 20px;
    padding: 22px;
    border-radius: 10px;
}

.top_profile
{
  display: flex;
  flex: 2;
  flex-direction: row;
  justify-content: space-evenly;
}

.p_pic
{
  flex: 1;
  margin-top: -30px;
}

.p_pic img
{
    background-color: #fff;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0px 5px 15px 0px rgb(36 50 66 / 12%);
}

.p_bio
{
  display: flex;
  flex-direction: column;
  flex: 2;
  padding-left: 14px;
}

.p_name h3
{
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  height: 102px;
  width: 280px;
}

.p_age
{
  display: flex;
  flex-direction: row;
  padding-top: 8px;
}

.p_age p
{
  padding-right: 14px;
  font-size: 18px;
}


.p_place
{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.p_nation
{
  display: flex;
  flex-direction: row;
  padding: 8px;
  border-radius: 6px;
  border-style: solid;
  border-color: #efefef;
  border-width: 2px;
  margin-bottom: 10px;
  align-items: center;
}

.n_details
{
  margin-left: 12px;
}

.bottom_profile
{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
}


.p_stats
{
  display: flex;
  flex-direction: column;
}

.p_stats h3
{
  font-size: 24px;
  font-weight: 300;
}

.p_stats p
{
  font-size: 18px;
  font-weight: 500;
  color: #666666;
}

.r_chart
{
  width: 300px;
  height: 300px;
}

.card_stats
{
    box-shadow: 0px 5px 15px 0px rgb(36 50 66 / 12%);
    background-color: white;
    padding: 22px;
    border-radius: 10px;
    margin: 20px; 
}

.compare
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bars_bg
{
    box-shadow: 0px 5px 15px 0px rgb(36 50 66 / 12%);
    background-color: white;
    margin: 20px;
    width: 34%;
    border-radius: 10px;
    padding: 22px;

}



.center_titles
{
    background-color: white;
    margin: 20px;  
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center_titles p
{
    padding-top: 12px;
}


.each_nation
{
    box-shadow: 0px 5px 15px 0px rgb(36 50 66 / 12%);
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    padding: 22px;
    width: 300px;
}

.each_nation:hover
{
    color: #fff;
    background-color: #476ADB;
    box-shadow: 0px 3px 4px 0px rgb(36 50 66 / 12%);
    cursor: pointer;
}

.nations_list
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}


.each_club
{
    box-shadow: 0px 5px 15px 0px rgb(36 50 66 / 12%);
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    padding: 22px;
    width: 300px;
}


.each_club:hover
{
    color: #fff;
    background-color: #476ADB;
    box-shadow: 0px 3px 4px 0px rgb(36 50 66 / 12%);
    cursor: pointer;
}


.each_player
{
    box-shadow: 0px 5px 15px 0px rgb(36 50 66 / 12%);
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    padding: 22px;
    width: 240px;
    height: 280px;
}