
.links{
    border-style: solid;
    border-width: 2px;
    border-color: LightBlue;
    color: LightBlue;
    font-weight: 500;
    padding: 10px; 
    text-decoration: none;
    margin: 20px;
    width: 200px;
}

.links:hover{
    border-style: solid;
    border-width: 2px;
    border-color: cornflowerblue;
    background-color: cornflowerblue;
    color: white;
    font-weight: 500;
    padding: 10px; 
    text-decoration: none;
}

.links-act
{
    border-style: solid;
    border-width: 2px;
    border-color: DodgerBlue;
    color: DodgerBlue;
    font-weight: 500;
    padding: 10px; 
    text-decoration: none;
}


.links-act:hover{
    background-color: cornflowerblue;
    color: white;
}

.rows{
    margin: 30px;
    margin-top: 40px;
}