
.links{
    border-style: solid;
    border-width: 2px;
    border-color: cornflowerblue;
    color: cornflowerblue;
    font-weight: 500;
    padding: 10px; 
    text-decoration: none;
}

.links:hover{
    border-style: solid;
    border-width: 2px;
    border-color: cornflowerblue;
    background-color: cornflowerblue;
    color: white;
    font-weight: 500;
    padding: 10px; 
    text-decoration: none;
}