

.tabs
{
    border-bottom-color: grey;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: fit-content;
}

.btn
    {
        font-size: 16px;
        padding: 10px;
        background-color: white;
        border-style: none;
        border-bottom-style: none;
    }

    .btn-act
    {
        font-size: 16px;
        padding: 10px;
        background-color: white;
        border-style: none;
        border-bottom-style: solid;
        border-bottom-color: black;
        border-bottom-width: 2px;
    }